<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
    <script type="text/javascript">
    <!--
    // -->
    </script>
  </head>
<body>

  <div class="wrapper">
    <div id="header">
      <img width="100%" src="{{ SITEURL }}/theme/images/banner.jpg"/>
      {% block menu %}
      <ul id="menu">
      {% for item in MENU_ITEMS %}
        <li><a href="{{ item.url }}">{{ item.label }}</a></li>
      {% endfor %}
      </ul>
      {% endblock %}
    </div><!-- end div#header -->

    <div id="body_content">
      {% block content %}
      {% endblock %}
    </div><!-- end div#body_content -->

    <hr id="footer"/>
    {% block footer %}
    {% endblock %}

    <address class="align-right">
      Powered by <a href="http://pelican.notmyidea.org/">Pelican</a>,
    </address>
  </div> <!-- end div#wrapper -->
</body>

