{% extends "base.html" %}

{% block menu %}
  <ul id="menu">
  {% for item in MENU_ITEMS %}
    {% if item.label == page.category %}
      <li class="active"><a href="{{ item.url }}">{{ item.label }}</a></li>
    {% else %}
      <li><a href="{{ item.url }}">{{ item.label }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endblock %}

{% block content %}
    {% for item in MENU_ITEMS %}
      {% if item.label == page.category %}
        {% if item.submenu %}
	<div id="sidebar">
	  <ul>
          {% for sitem in item.submenu %}
            {% if sitem.slug == page.slug %}
              <li class="active"><a href="{{ sitem.url }}">{{ sitem.label }}</a></li>
	    {% else %}
              <li><a href="{{ sitem.url }}">{{ sitem.label }}</a></li>
            {% endif %}
          {% endfor %}
	  </ul>
	</div>
        {% endif %}
      {% endif %}
    {% endfor %}

    <h1>{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}
{% endblock %}

{% block footer %}
<i><a href='{{ page.source_url }}'>page source</a></i>
{% endblock %}
