.wrapper {
	margin-left:auto;
	margin-right:auto;
	width:950px;
}

hr#footer {
	color: #d0d0d0;
}

body {
	font-family: ubuntu, verdana, helvetica, sans-serif;
	font-size: 14px;
}

h1 {
	margin-bottom: 5px;
}

table {
	border-collapse: collapse;
}

.indent {
	margin-left: 40px;
}

table > thead > tr > th {
	padding: 8px 8px;
	border:  1px solid #d0d0d0;
	border-bottom: 2px solid black;
}

table > tbody > tr > td {
	border: 1px solid #d0d0d0;
	padding-right: 10px;
}
table > tbody > tr > td > ul > li {
	margin-left: -5px;
}

div#body_content {
	width: 750px;
	margin-bottom: 40px;
	padding-top: 20px;
}

.align-right { float:right; margin: 0 0 15px 15px; }
img.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* column layout support */
div#page {
	float: right;
	width: 600px;
}

div#sidebar {
	float: left;
	width: 150px;
}

div#colclear {
	clear: both;
}

/* sidebar menu support */
div#sidebar {
}

div#sidebar ul {
	padding-left:0;
	border-left: 2px solid #f0f0f0;
}

div#sidebar li {
	display:block;
}

div#sidebar ul li a {
	display:block;
	text-decoration:none;
	font-weight:bold;
	font-size: 16px;
	padding:8px 20px 4px 20px;
	color: #909090;
}

div#sidebar ul li.active a {
	color: #505050;
	text-decoration: underline;
}

/* horizontal menu support */
ul#menu {
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	height:40px;
}

ul#menu li {
	display:block;
	float:left;
	margin:0;
	padding:0;
}

ul#menu li a {
	display:block;
	text-decoration:none;
	font-weight:bold;
	font-size: 16px;
	padding:8px 20px 0px 50px;
	color: #909090;
	height: 40px;
}

ul#menu li#home a {
	background: url('/theme/images/home.png') no-repeat scroll 0% 0% transparent;
}
ul#menu li#bethany a {
	background: url('/theme/images/designer.png') no-repeat scroll 0% 0% transparent;
}
ul#menu li#andy a {
	background: url('/theme/images/ubuntu.png') no-repeat scroll 0% 0% transparent;
}
ul#menu li#us a {
	background: url('/theme/images/ring.png') no-repeat scroll 0% 0% transparent;
}

ul#menu li.active {
	background-color: #f0f0f0;
	height: 32px;
}

ul#menu li a:hover {
	color: #d0d0d0;
}
